@font-face{
    src: url(/assets/Julius_Sans_One/JuliusSansOne-Regular.ttf);
    font-family: Julius;
}
@font-face{
    src: url(/assets/Crimson_Text/CrimsonText-Italic.ttf);
    font-family: CrimsonText;
}
body {
    width: 100%;
    height: 100vh;
    background: url(assets/freedom.jpg) no-repeat center;
    background-size: cover;
    color: #333;
}
div{
text-align: center;
width: 90%;
padding-top: 4rem;
margin: 0 auto;
}
h1{
    font-family: Julius;  
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
    margin: 40px 0;
}
p{
    font-family: CrimsonText;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}